/* 1439-881 */
@media (max-width: 1301px) {

    /* header */
    header {
        padding-inline: 64px;
    }

    /* section1 */
    .section1 {
        padding-top: 100px;
        height: 560px;
    }

    /* section2 */
    .section2 {
        padding: 64px 0 64px 64px;        
    }

    .section2_cards_section{
        overflow-x: scroll;
    }

    .section2_cards_section_article{
        flex: 1 0 282px;
    }

    /* footer */
    footer {
        padding: 64px 432px;
    }
}
